#control {
    width: 100%;
    overflow: auto;
}

#search {
    width: 100%;
    height: 100%;
}

#filter {
    float: left;
}

.filtercontent {
    float: left;
    padding: 10px;
}

    .filtercontent ul {
        padding-left: 0px;
        list-style-type: none;
    }

#filterbtn {
    background-color: black;
    color: white;
    border-radius: 0px;
    transition-duration: 0.4s;
    border: 2px solid black;
    float: left;
}

    #filterbtn:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }

#control {
    padding: 10px;
}

#icon {
    background-color: black;
    color: white;
    text-align: center;
    float: left;
    border-radius: 0px;
    border: 2px solid black;
    margin-left: 5px;
}

    #icon:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }


#input-search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    /*height: 100%;*/
    height: 36px;
    padding: 8px;
    border-radius: 0px;
    border: 2px solid black;
}

    #input-search:focus {
        width: 100%;
        border-radius: 0px;
    }
