@model FinalTerm_CNPM.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div class="alert-danger">
    @ViewBag.Error
</div>
@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    <div>User Name: @Html.TextBoxFor(u => u.userName, new { @class = "form-control" })<br /></div>
    <div>Password: @Html.TextBoxFor(u => u.password, new { @class = "form-control", @type = "password" })<br /></div>
    <input type="submit" value="Đăng nhập" class="btn btn-default" />
}